<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    class="h-100 position-fixed side-nav"
  >
    <ul>
      <li>餐廳一</li>
      <li>餐廳二</li>
      <li>餐廳三</li>
      <li>餐廳四</li>
      <li>餐廳五</li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="d-flex align-items-center container">
    <div class="d-flex align-center">
      <button
        mat-icon-button
        class="icon"
        aria-label="openSideNav"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-toolbar class="nav">
      <span>吃什麼好</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="container mt-2">
  <div class="text-primary bg-dark">最近吃過:</div>
  <div class="row p-2">
    <div
      class="card col-6 py-2"
      *ngFor="let review of reviews; index as i"
      [attr.data-index]="i"
    >
      <div class="card__image__wrapper">
        <img
          src="{{ review.data.imageLink }}"
          class="review__pic card-img-top"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ review.data.name }}</h5>
        <p class="card-text">{{ review.data.comment }}</p>
        <a href="#" class="btn btn-primary">看看評論</a>
        <div class="btn btn-primary" (click)="addLike($event)">讚</div>
        <div>{{ review.data.like }}</div>
      </div>
    </div>
  </div>
</div>

<canvas id="review-chart" width="400" height="400"></canvas>
